{% extends "pages/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

<!DOCTYPE html>
<html>
    
    {% block content %}
<body>
    <center>
        <h1>Welcome {{user.username}}</h1>
        <div id="carouselExampleCaptions" class="carousel slide carousel-fade">
            <div class="carousel-indicators">
              <button class="carousel-control-prev" type="button" onclick="changeImage('prev')" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            
            <button class="carousel-control-next" type="button" onclick="changeImage('next')" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
              
            </div>
            
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static "images/bro.jpg" %}" class="d-block w-100" alt="50px">
                <div class="carousel-caption d-none d-md-block">
                  <h5>First slide label</h5>
                  <p>Some representative placeholder content for the first slide.</p>
                  <button onclick="changeImage()">Chuyển ảnh</button>
                  
                </div>
              </div>
              <div class="carousel-item">
                <img src="{% static "images/vythanh.jpg" %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Second slide label</h5>
                  <p>Some representative placeholder content for the second slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="{% static "images/thanhvy.jpg" %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <a class="btn btn-warning" style='font-weight:bold; color:black;' href="{% url 'logout' %}">Log out</a>
    </center>
</body>
</html>

{% endblock  %}